<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/Head.html :: head(pageTitle='menu pizze')}"></head>
</head>
<body class="vw-100 vh-100">
<div class="container text-center">
    <a class="text-center btn btn-success mt-5" th:href="@{pizza/create}">
        Aggiungi pizza
    </a>

    <div class="row mt-5">
        <th:block th:each="pizza, iter : ${menu}">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img th:src="${pizza.urlPhoto}" class="card-img-top" alt="Pizza Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.name}"></h5>
                        <h5 class="card-text" th:text="${pizza.id}"></h5>
                        <p class="card-text" th:text="${pizza.description}"></p>
                        <a class="btn btn-primary" th:href="@{pizza/{id}(id=${pizza.id})}">Dettagli</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>
