<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/Head.html :: head(pageTitle='pizza dettaglio')}"></head>
</head>
<body>
<div class="container d-flex flex-column align-items-center justify-content-center">

    <div th:object="${pizzadettaglio}" class="card" style="width: 18rem;">
        <img class="card-img-top" th:src="${pizzadettaglio.urlPhoto}" alt="Card image cap">

        <div class="card-body d-flex  flex-column align-items-center">
            <h5 class="card-title" th:text="${pizzadettaglio.name}"></h5>
            <p class="card-text" th:text="${pizzadettaglio.description}"></p>
            <a th:href="@{/pizza}" class="btn btn-primary">pizze</a>
            <h5>Ingredienti utilizzati:</h5>
            <div th:each="ingredient: ${pizzadettaglio.getIngredients}">
                <span th:text="${ingredient.name}"></span>
            </div>
            <div class="alert alert-info" th:unless="${pizzadettaglio.getIngredients.size() > 0}">
                There are no ingredients
            </div>
        </div>
    </div>

    <a class="btn btn-secondary mt-3" th:href="@{/offers/create(pizzaId=${pizzadettaglio.id})}">crea offerta</a>
    <div th:each="offers: ${pizzadettaglio.offers}" class="dropdown mt-3">
        <button th:text="*{offers.title}" class="btn btn-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">

        </button>
        <ul class="dropdown-menu dropdown-menu-dark">

            <li>
                <span class="dropdown-item">
                  Inizio Offerta:
                  <span th:text="*{#temporals.format(offers.startDate, 'dd/MM/yyyy')}"></span>
                </span>
            </li>
            <li>
                <span class="dropdown-item">
                  Fine Offerta:
                  <span th:text="*{#temporals.format(offers.endDate, 'dd/MM/yyyy')}"></span>
                </span>
            </li>
            <li><a class="dropdown-item" th:href="@{/offers/edit/{id}(id=${offers.id})}">Modifica offerta</a>
            </li>
            <form th:action="@{/offers/delete/{id}(id=${offers.id})}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="dropdown-item">Cancella offerta</button>
            </form>

            <!--<li><a class="dropdown-item" href="#">Something else here</a></li>-->
        </ul>

    </div>

</div>

</body>
</html>
